<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
        <script>
          $(function() {
            $( ".datepicker" ).datepicker({
              changeMonth: true,
              changeYear: true,
              yearRange: "2018:2080",
              dateFormat: 'yy-mm-dd',
            });
          });

            function showText (info) {
                document.getElementById('status').innerHTML = info;
            }
          </script>
    </head>
    <body>
        <div class="content container">
                <div class="page-header">
                        {% block title %}
                        {% endblock %}
                </div>
                {% block content %}
                {% endblock %}
                {% block pagination %}
                {% endblock %}
        </div>
    </body>
</html>