{% extends 'flightRadar/base.html' %}
{% block title %}
<h1>Flight Radar -> Flights for {{object}}</h1>
{% endblock %}
{% block content %}
            <ul class="list-group">
              {% for flightdata in page_obj %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  {% if flightdata.returning %}
                  <div>
                  <span class="badge badge-primary badge-pill">RETURN</span>
                   </div>
                  {%endif%}
                  &#128747; {{flightdata.departure_time}} &#128748; {{flightdata.arrival_time}} - <strong>{{flightdata.price}} zł</strong>
                  <span class="badge badge-secondary badge-pill">Checked @ {{flightdata.created_at}}</span>
                </li>
              {% endfor %}
            </ul>
{%endblock%}
                    {% block pagination %}
                      {% if is_paginated %}
                          <ul class="pagination">
                                  {% if page_obj.has_previous %}
                                    <li  class="page-item">
                                      <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                  {% endif %}
                                  <li  class="page-item active">
                                      <a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} <span class="sr-only">(current)</span></a>
                                  </li>
                                  {% if page_obj.has_next %}
                                    <li  class="page-item">
                                      <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                  {% endif %}
                          </ul>
                      {% endif %}
                    {% endblock %}
