{% extends 'flightRadar/base.html' %}
{% block title %}
<h1>Flight Radar -> Query: {{ object }}</h1>
{% endblock %}
{% block content %}
            <div style="width:30%">
                <form class="form-horizontal" method="post">{% csrf_token %}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" >Yes, delete</button>
                    </div>
                </form>
{%endblock%}