{% extends 'flightRadar/base.html' %}

{% block title %}
<h1>Flight Radar -> Queries <a title="Add" href="{% url 'searchinput_create' %}">&#10753;</a>
<a title="List of all flights data" style="font-size:60px; width: 5%; display: inline-block; *display: inline;" href="{% url 'flightdata_list' %}">&#9992;</a>
    <a title="Flight statistics" style="font-size:60px; width: 5%; display: inline-block; *display: inline;" href="{% url 'showstats' %}">&#128200;</a>
 <span> </span><span style="color:orange;" id="status"> </span>
</h1>
{% endblock %}

                {% block content %}

                        {% if searchinput_list %}
                          <ul class="list-group">
                          {% for searchinput in searchinput_list %}
                                  <a title="Edit" style="width: 59%; display: inline-block; *display: inline;" href="{% url 'searchinput_update' searchinput.id %}" class="list-group-item list-group-item-action flex-column align-items-start {% if searchinput.active %} active {%endif%}">
                                    <div class="d-flex w-100 justify-content-between">
                                      <h4 class="mb-1">{{ searchinput.departure_date }} - {{searchinput.returning_date }}</h4>
                                    </div>
                                    <h5 class="mb-1">&#128747; {{searchinput.departure}} &#128748; {{ searchinput.arrival}}</h5>
                                    <small>{{ searchinput.carrier }}</small>
                                  </a>
                                  <a title="List of flight data" style="font-size:50px; width: 5%; display: inline-block; *display: inline;" href="{% url 'searchinput_detail' searchinput.id %}">&#9992;</a>
                                  <a title="Query statistics" style="font-size:50px; width: 5%; display: inline-block; *display: inline;" href="{% url 'showstats4query' searchinput.id %}">&#128200;</a>
                                  <a onclick="showText('Best model predict. Working on it ...')" title="To Buy or Not To Buy? - Best" style="font-size:50px; width: 5%; display: inline-block; *display: inline;" href="{% url 'showbestpredictions' searchinput.id %}">&#65533;</a>
                                  <a onclick="showText('Vote predict. Working on it ...')" title="To Buy or Not To Buy? - Vote" style="font-size:50px; width: 5%; display: inline-block; *display: inline;" href="{% url 'showvotepredictions' searchinput.id %}">&#10067;</a>
                                  <a onclick="showText('Train & predict. Working on it ...')" title="To Buy or Not To Buy? - Train" style="font-size:50px; width: 5%; display: inline-block; *display: inline;" href="{% url 'showtrainpredictions' searchinput.id %}">&#10068;</a>
                                  <a title="Delete" style="font-size:50px; width: 5%; display: inline-block; *display: inline;" href="{% url 'searchinput_delete' searchinput.id %}">&#9003;</a>
                          {% endfor %}
                          </ul>
                        {% else %}
                          <p>There are no queries defined.</p>
                        {% endif %}
                    {% endblock %}


                    {% block pagination %}
                      {% if is_paginated %}
                          <ul class="pagination">
                                  {% if page_obj.has_previous %}
                                    <li  class="page-item">
                                      <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                  {% endif %}
                                  <li  class="page-item active">
                                      <a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} <span class="sr-only">(current)</span></a>
                                  </li>
                                  {% if page_obj.has_next %}
                                    <li  class="page-item">
                                      <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                  {% endif %}
                          </ul>
                      {% endif %}
                    {% endblock %}
