{% extends 'flightRadar/base.html' %}
{% block title %}
<h1>Flight Radar -> Query</h1>
{% endblock %}
{% block content %}
                <form class="form-horizontal" method="post">{% csrf_token %}
                    <fieldset>
                        {% for field in form %}
                            {% if field.errors %}
                                <div class="control-group error">
                                    <label class="control-label">{{ field.label }}</label>
                                    <div class="controls">{{ field }}
                                        <span class="help-inline">
                                            {% for error in  field.errors %}{{ error }}{% endfor %}
                                        </span>
                                    </div>
                                </div>
                            {% else %}
                                <div class="control-group">
                                    <label class="control-label">{{ field.label }}</label>
                                    <div class="controls">{{ field }}
                                        {% if field.help_text %}
                                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                    <div class="form-actions">
                        <button onclick="{% if not form.instance.id is None %}return confirm('It will remove already found flights for this query. Are you sure?'); {%endif%}" style="width:100%" type="submit" class="btn btn-primary" >Submit</button>
                    </div>
                </form>
{%endblock%}